{{!-- 
nombreProducto
desProducto
precioRegProducto
precioDiscProducto 
urlImagenProducto
estrellasProducto
numEvalProducto
atribProducto01
atribProducto02
atribProducto03
--}}

<a class="card">
    <article class="card__article">
        <div
            class="card__image"
            style="background-image: url('{{urlImagenProducto}}')"
        >
        </div>

    <!-- Barra producto - visible en hover -->
    <div class="card__barra-producto">
        <div class="card__barra-producto__mas-info">
            <i class="fa fa-info"></i>
        </div>
        <div class="card__barra-producto__deseos">
            <i class="fa fa-heart"></i>
        </div>
        <div class="card__barra-producto__comprar">
            <i class="fa fa-cart-plus"></i>
        </div>
    </div>
    <!-- Fin barra producto - visible en hover -->

    <div class="card__content">
        <div class="card__inner-content">
            <h3 class="card__heading">{{nombreProducto}}</h3>
            <div class="card__description">
                <p>{{desProducto}}</p>
            </div>
            <div class="card__content-value card__content-value_+"{{estrellasProducto}}> {{'('+numEvalProducto+' eval)'}} </div>
            <div class="card__content-price">
                <span class="card__content-price-reg">{{precioRegProducto}}</span>
                <span class="card__content-price-disc">{{precioDiscProducto}}</span>
            </div>
            <div class="card__content-atributo">
                <span>{{atribProducto01}}</span>
                <span>{{atribProducto02}}</span>
                <span>{{atribProducto03}}</span>
            </div>
        </div>
    </div>
    </article>
</a>











