
    <div class="detalleAlta detalleAlta__contenido-titulo">
        En total se encontraron {{productos.length}} productos.  | Sumar uno más:
        <i class="sumar fa fa-plus accionesAlta " onclick="verAltaProducto()"></i> 
    </div>
<section id="FormularioDeAltaProducto" class="noVerAltaProducto">
    <form autocomplete="off" class="sumar-producto" id="formAltaProducto">
        <div class="detalleAlta detalleAlta__visible">
            <div class="detalleAlta__imagen">
                <img class="detalleAlta__imagenDetalle" src="{{imagen}}" alt="{{nombre}}"> 
                {{!-- <input class="detalleAlta__imagenDetalle" id="imagen" type="text" placeholder="Ingresar la imagen"> --}}
            </div>

            <div class="detalleAlta__contenido">
                <div class="detalleAlta__contenido-titulo">
                    <label class="detalleAlta__label" for="titulo">Titulo: </label>
                    <input class="detalleAlta__input" id="titulo" name="titulo" type="text" placeholder="Nombre del producto">
                    <label class="detalleAlta__label" for="categoria">Categoría: </label>
                    <input class="detalleAlta__input" id="categoria" name='categoria' type="text" placeholder="Categoría">
                </div>
            
                <div class="detalleAlta__contenido-descripcion">
                    <textarea class="detalleAlta__input" id="descripcion" type="textarea" width="" placeholder="Descripción detallada del producto"></textarea>
                </div>
                <div class="detalleAlta__contenido-descripcion importes">
                    
                    <label class="detalleAlta__label" for="precioLista">$Lista: </label>
                    <input class="detalleAlta__input" id="precioLista" type="text" placeholder="Precio Lista">
                    
                    <label class="detalleAlta__label" for="precioDto">$Descuento: </label>
                    <input class="detalleAlta__input" id="precioDto" type="text" placeholder="Precio Promo">
                </div>
                <div class="detalleAlta__contenido-descripcion importes">
                    
                    <label class="detalleAlta__label" for="evaluacion">Evaluación: </label>
                    <input class="detalleAlta__input" id="evaluacion" type="text" placeholder="Valoración">
                    
                    <label class="detalleAlta__label" for="evaluadores">Evaluadores: </label>
                    <input class="detalleAlta__input" id="evaluadores" type="text" placeholder="Num total evaluadores">

                    <label class="detalleAlta__label" for="stock">Stock: </label>
                    <input class="detalleAlta__input" id="stock" type="text" placeholder="Stock / existencia">
                </div>
                <div class="detalleAlta__contenido-descripcion">
                    <label class="detalleAlta__label" for="observacion01">Observaciones: </label>
                    <input class="detalleAlta__input" id="observacion01" type="text" placeholder="Observación 01">
                    <input class="detalleAlta__input" id="observacion02" type="text" placeholder="Observación 02">
                    <input class="detalleAlta__input" id="observacion03" type="text" placeholder="Observación 03">
                </div>
                <div class="detalleAlta__contenido-descripcion">
                    <div class="detalleAlta__MensajeError">Mensaje de prueba</div>
                </div>
            </div>
            <div class="detalleAlta_variables">
                <div class="detalleAlta_variables-titulo">Acciones</div>
                <div class="detalleAlta_variables-cantidad">
                    {{!-- <div class="accionesAlta" onclick="productoController.guardarProducto({{this.titulo}})"> --}}
                    <div class="accionesAlta" onclick="productoController.guardarProducto({titulo[0].value, categoria[0].value})">
                        <button class="sumar fa fa-plus accionesAlta"></button> 
                    </div>                
                    <div class="accionesAlta" >{{!-- onclick="productoController.borrarProducto({{id}})"> --}}
                        <button class="restar fa fa-trash"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

{{#if productos.length }}
    {{#each productos}}
    {{!-- Detalle de productos existentes --}}
        <section class="ConsultaProducto">
            <div class="detalleAlta detalleAlta__Visible">
                <div class="detalleAlta__imagen">
                    <img class="detalleAlta__imagenDetalle" src="{{imagen}}" alt="{{nombre}}"> 
                </div>
                <div class="detalleAlta__contenido">
                    <div class="detalleAlta__contenido-titulo">Id: {{id}} | Nombre: {{titulo}} | Categoría: {{categoria}}</div>
                    <div class="detalleAlta__contenido-descripcion">{{descripcion}}</div>
                    <div class="detalleAlta__contenido-pu importes">Precio Lista: {{{ajusteMoneda precioLista}}} | Precio Descuento: {{{ajusteMoneda precioDto}}}</div>
                    <div class="detalleAlta__contenido-pu importes">Evaluación: {{{evaluacion}}} | Evaluadores: {{{evaluadores}}} | Existencias: {{{stock}}}</div>
                    <div class="detalleAlta__contenido-descripcion">Observaciones: {{{observacion01}}} | {{{observacion02}}} | {{{observacion03}}}</div>        
                </div>
                <div class="detalleAlta_variables">
                    <div class="detalleAlta_variables-titulo"> Acciones</div>
                    <div class="detalleAlta_variables-cantidad">
                        
                            <div class="accionesAlta" onclick="verModifProducto({{id}})"><i class="restar fa fa-edit"></i></div>
                        
                            <div class="accionesAlta" onclick="productoController.borrarProducto({{id}})"><i class="restar fa fa-trash"></i></div>
                    </div>
                </div>
            </div>
            

        </section>            

{{!-- Detalle de formulario de edición / actualización --}}
{{!-- 1.- No visible --}}
{{!-- 2.- Pre Cargado --}}
    <section class="ModificacionProducto noVerEdicionProducto">
        <form autocomplete="off" id="formAltaProducto">
            <div class="detalleAlta detalleAlta__visible">
                <div class="detalleAlta__imagen">
                    <img class="detalleAlta__imagenDetalle" src="{{imagen}}" alt="{{nombre}}"> 
                    {{!-- <input class="detalleAlta__imagenDetalle" id="imagen" type="text" placeholder="Ingresar la imagen"> --}}
                </div>

                <div class="detalleAlta__contenido">
                    <div class="detalleAlta__contenido-titulo">
                        <label class="detalleAlta__label" for="titulo">titulo: </label>
                        <input class="detalleAlta__input" id="titulo" type="text" value={{titulo}}>
                        <label class="detalleAlta__label" for="categoria">Categoría: </label>
                        <input class="detalleAlta__input" id="categoria" type="text" value={{categoria}}>
                    </div>
                
                    <div class="detalleAlta__contenido-descripcion">
                        <textarea class="detalleAlta__input" id="descripcion" type="textarea" width="">{{descripcion}}</textarea>
                    </div>
                    <div class="detalleAlta__contenido-descripcion importes">
                        
                        <label class="detalleAlta__label" for="precioLista">$Lista: </label>
                        <input class="detalleAlta__input" id="precioLista" type="text"  value={{precioLista}}>
                        
                        <label class="detalleAlta__label" for="precioDto">$Descuento: </label>
                        <input class="detalleAlta__input" id="precioDto" type="text" value={{precioDto}}>
                    </div>
                    <div class="detalleAlta__contenido-descripcion importes">
                        
                        <label class="detalleAlta__label" for="evaluacion">Evaluación: </label>
                        <input class="detalleAlta__input" id="evaluacion" type="text" value={{evaluacion}}>
                        
                        <label class="detalleAlta__label" for="evaluadores">Evaluadores: </label>
                        <input class="detalleAlta__input" id="evaluadores" type="text" value={{evaluadores}}>

                        <label class="detalleAlta__label" for="stock">Stock: </label>
                        <input class="detalleAlta__input" id="stock" type="text" value={{stock}}>
                    </div>
                    <div class="detalleAlta__contenido-descripcion">
                        <label class="detalleAlta__label" for="observacion01">Observaciones: </label>
                        <input class="detalleAlta__input" id="observacion01" type="text" value={{observacion01}}>
                        <input class="detalleAlta__input" id="observacion02" type="text" value={{observacion02}}>
                        <input class="detalleAlta__input" id="observacion03" type="text" value={{observacion03}}>
                    </div>
                    <div class="detalleAlta__contenido-descripcion">
                        <div class="detalleAlta__MensajeError"></div>
                    </div>
                </div>
                <div class="detalleAlta_variables">
                    <div class="detalleAlta_variables-titulo">Acciones</div>
                    <div class="detalleAlta_variables-cantidad">
                        {{!-- <div class="accionesAlta" onclick="productoController.actualizarProducto({{id}})"> --}}
                        <div class="accionesAlta" onclick="productoController.actualizarProducto(titulo, categoria, descripcion)">
                        {{!-- <div class="accionesAlta" onclick="verModifProducto({{id}})"> --}}
                            <button class="sumar fa fa-plus accionesAlta"></button> 
                        </div>                
                        <div class="accionesAlta" onclick="verModifProducto({{id}})">{{!-- onclick="productoController.borrarProducto({{id}})"> --}}
                            <button class="restar fa fa-trash"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>


        {{/each}}
    {{!-- </table> --}}
{{else}}
    <h2>No se encontraron productos</h2>
{{/if}}