{{#if listado.length }}
    {{#each listado}}
    <a class="card">
        <article class="card__article" data-id={{this.id}} data-titulo={{this.titulo}}>
                    <div class="card__image"
                            style="background-image: url('{{this.imagen}}')">
                    </div>
                    <!-- Barra producto - visible en hover -->
                    <div class="card__barra-producto">
                        <!-- Adicionar acción para ver más info sobre el el producto -->
                        <div class="card__barra-producto__mas-info">
                            <i class="fa fa-info"></i>
                        </div>
                        <!-- Adicionar acción para sumar a lista de deseos -->
                        <div class="card__barra-producto__deseos" onClick="agregarDeseo(event,{{this.id}},'{{this.titulo}}')">
                            <i class="fa fa-heart"></i>
                        </div>
                        <!-- sumar al carrito -->
                        {{!-- <div class="card__barra-producto__comprar" onClick="sumarProductoCarrito({{this.id}},'{{this.titulo}}')"> --}}
                        <div class="card__barra-producto__comprar" onClick="agregarCarrito(event,{{this.id}},'{{this.titulo}}')">
                            <i class="fa fa-cart-plus">{{{ayudante this}}}</i>
                        </div>
                        
                    </div>
                    <!-- Fin barra producto - visible en hover -->
                    <div class="card__content">
                        <div class="card__inner-content">
                            <h3 class="card__heading">{{this.titulo}}</h3>
                            <div class="card__description">
                            
                            <p>{{{substring this.descripcion 0 90}}}</p>
                            </div>
                            <div {{{ajusteEval this.evaluacion this.evaluadores}}} > con {{this.evaluadores}} eval. </div>
                            <div class="card__content-price">
                                <span class="card__content-price-reg">{{{ajusteMoneda this.precioLista}}}</span>
                                <span class="card__content-price-disc">{{{ajusteMoneda this.precioDto}}}</span>
                            </div>
                            <div class="card__content-atributo">
                                <span>{{this.observacion01}}</span>
                                <span>{{this.observacion02}}</span>
                                <span>{{this.observacion03}}</span>
                            </div>
                        </div>
                    </div>
                    </article>
    </a>
    {{/each}}
{{else}}
    <h2>No se encontraron productos</h2>
{{/if}}