<div class="cabecera-carrito">
    <h3><i class="fa fa-shopping-cart"></i> | Detalle de compras</h3>
    <h3 class="btnCierre" onclick="carritoController.ocultarXCarrito()">X</h3>
</div>
<hr>
{{#if carrito.length }}
<section>
    <table>
        <tr>
            <th colspan="2">Item</th>
            <th class="alinearDerecha">Precio unidad</th>
            <th class="alinearCentro">Cantidad</th>
            <th class="alinearDerecha">Sub-Total</th>
            <th class="alinearCentro">Acción</th>
        </tr>
        {{{reseteo }}}
        {{#each carrito}}
            <tr>
                <td>
                    <img class="imagenCarrito" src="{{imagen}}" alt="{{nombre}}"> 
                </td>
                <td>{{nombre}}</td>
                <td class="importes">{{{ajusteMoneda precioDto}}}</td>
                <td class="cantidad">
                    <span onClick="carritoController.restarProductoCarrito({{this.id}})"><i class="restar fa fa-minus"></i></span> 
                    <span style="margin: 0 0.9em;"> {{cantidad}} </span> 
                    <span onClick="carritoController.sumarProductoCarrito({{this.id}})"><i class="sumar fa fa-plus"></i></span>
                </td>
                <td class="importes">{{{ajusteST precioDto cantidad}}}</td>
                
                <td>
                    <i onclick="carritoController.borrarProductoCarrito({{id}})" class=" acciones fa fa-trash" ></i>
                </td>
            </tr>
        {{/each}}
    </table>
    <hr>
    <table class="DetalleSubtotal">
        <tr>
            <td>SubTotal compra:</td>
            <td class="importes">{{acumulador}}</td>
        </tr>
        <tr>
            <td>Costo de envío: (Gratis desde $7.500.-)</td>
            <td class="importes">{{calculoEnvio}}</td>
        </tr>
        <tr>
            <td>
                <form style="display:inline;"> 
                    <label for="declarPromo">Promoción</label>
                    <input 
                        class="declarPromo" 
                        id="declarPromo" 
                        type="text" 
                        placeholder="Ingrese código promo."
                        onchange="carritoController.validarPromo()">
                </form>
            </td>
            <td class="importes">{{calculoPromocion}}</td>
        </tr>
        <tr class="total">
            <td>Total:</td>
            <td class="importes">{{total}}</td>
        </tr>
        <tr>
            <td colspan="2">
                Estás sumando {{contador}} productos por un importe total de <em><b>{{total}}</b></em>.
            </td>
        </tr>
    </table>
    <div class="botonDerecha">
        <button class="btn__enviarCarrito" onclick="carritoController.enviarCarrito()">Enviar</button>
        <button class="btn__enviarCarrito" onclick="carritoController.ocultarXCarrito()">Seguir Comprando</button>
    </div>
</section>
{{else}}
    <h2>El carrito está vacío</h2>
{{/if}}